{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Проверка знаний языков программирования</title>

    <!-- select2 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</head>
<body>
<header>
    <div class="logo">Проверка знаний языков программирования</div>
</header>
<div class="content">
    <section id="welcome">
        <h1 class="mid-title">Проверь свои знания - пройти тест</h1>
        <div class="about-text">Результат доступен сразу же после прохождения.</div>
        <button id="welcome-next" class="base-input next-btn welcome-btn">Начать</button>
    </section>
    <section id="auth-step-1" style="display: none">
        <h2 class="mid-title">Вход/Регистрация</h2>
        <form class="mini-form">
            <label>Email:<br>
            <input class="base-input" type="email" name="email" id="auth-email">
                <div class="button-line">
                    <input id="auth-1-back" class="base-input back-btn" type="submit" value="Назад">
                    <input id="auth-1-next" class="base-input next-btn" type="submit" value="Далее">
                </div>

            </label>
        </form>
    </section>
    <section id="auth-step-2" style="display: none">
        <h2 class="mid-title">Подтверждение email:</h2>
        <form class="mini-form">
            <label>Код из письма:<br>
                <input class="base-input" type="text" name="code" id="auth-code">
                <div class="button-line">
                    <input id="auth-2-back" class="base-input back-btn" type="submit" value="Назад">
                    <input id="auth-2-next" class="base-input next-btn" type="submit" value="Далее">
                </div>

                {# todo добавить повторную отправку #}
            </label>
        </form>
    </section>
    <section id="start" style="display: none">
        <h2 class="mid-title">Выберите категорию:</h2>
        <form class="mini-form">
                <select class="base-select" name="category" id="category-select"></select>
                <input id="start-next" class="base-input next-btn" type="submit" value="Начать тест">
        </form>
    </section>
    <section id="question" style="display: none">
        <input type="hidden" id="question-id">
        <div class="question-title" id="question-title">Вопрос?</div>
        <div class="question-images" id="question-images">
        </div>
        <div class="question-answers" id="question-answers">
        </div>
        <div class="button-line">
            <input id="previous-question" class="base-input back-btn" type="submit" value="Назад">
            <input id="next-question" class="base-input next-btn" type="submit" value="Далее">
        </div>
    </section>
    <section id="result" style="display: none">
        <div id="total-right"></div>
        <h2 class="mid-title">Ответы:</h2>
        <hr>
        <div id="questions-result"></div>
        <div class="button-line">
            <input id="result-select-category" class="base-input next-btn" type="submit" value="Выбрать категорию">
            <input id="result-retry" class="base-input next-btn" type="submit" value="Повторить">
        </div>
    </section>

</div>

</body>
</html>